.li {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #898989;
}

.title,
.titles {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
}

.titls {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #19202C;
}


.texts {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
}

.bg-img {
  background-repeat: no-repeat;
  background-image: url('../coponents/img/Userpic.svg');
  width: 40px;
  height: 40px;
}

.sp-img__sec {
  background-repeat: no-repeat;
  background-image: url('../coponents/img/sec.svg');
  width: 50px;
  height: 50px;
}

.sp-img__fir {
  background-repeat: no-repeat;
  background-image: url('../coponents/img/fir.svg');
  width: 50px;
  height: 50px;
}

.mini__title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}


.ful {
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.girl-f {
  background-image: url('../coponents/img/gr.svg');

}

.girl-s {
  background-image: url('../coponents/img/girl2.svg');

}

.girl-t {
  background-image: url('../coponents/img/girl3.svg');

}

.girl-f {
  background-image: url('../coponents/img/girl4.svg');

}

.girl-si {
  background-image: url('../coponents/img/girl5.svg');

}

.man {
  background-image: url('../coponents/img/man.svg');

}

.videos {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.tofix {
  position: fixed;
  top: 80px;
  left: 10px;
}

.pos {
  position: relative;
  left: 200px;
  top: 60px;
}

.totop {
  position: fixed;
  top: 0;
  width: 95vw;
  align-items: center;
  background: #fff;
  z-index: 100;
}

.list__item {
  padding: 20px 0;
  position: fixed;
  background-color: #fff;
  z-index: 100;
  left: 0;
  bottom: -50px;
  width: 100%;
}

.burgers__button{
  margin: 0 20px 0 0;
  /* left: 37px; */
  /* position: relative; */
  width: 30px;
  height: 30px;
}

/* .footer {
  display: none;
} */

@media only screen and (max-width: 1024px) {
  .videos {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  .totop {
    width: 100%;
  }
}

@media only screen and (max-width: 704px) {
  .videos {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

}

@media only screen and (max-width: 485px) {
  .videos {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  /* .foote {
    display: block;
  } */

}